.letterBlock {
  border: solid black;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-size: 50px;
}

.container {
  display: flex;
  margin-top: 20px;
}

.guess1,
.guess2,
.guess3,
.guess4,
.guess5,
.guess6 {
  display: flex;
  margin-top: 20px;
}
